aws_region_name=us-east-1
aws_access_key_id=ASIA37R6TKNI2SDHXOJT
aws_secret_access_key=T9jG+CyyspmdcYqYQawBOcZTinaKZtaxJKra93NI
aws_session_token=FwoGZXIvYXdzEJb//////////wEaDNPZgi5bsLl7JDUoSCLNAT5c1eqdvwAV4d9dVYbFm7GUVwrz5FI/1ND0tscrDkjaPTKJ7w/j9S51FFpEc0DgJv9cTPp+XAJBGiG9UEPoVY+EgXz5Hfq1g/pKaQCEZVJ2rVLo8do7IWWyIw0lGZARt8H4M+dbIgJxQTdWMI4TucSQK+JX/tVldh4I9emo17CBbjLEoxWkZjTADc48dgE8unbzZb/YxmYiaYOcSi0sfjxbhyqZiHqsBQb6klgsFVmMsI2YoSPvSsPTf21OkJlMAeHuMZjtSootrNiMoKso5uGQoQYyLaT4bkCP8PP4yiVsT4xhzn0BcQ1yjCkTjsFvuCgYWMCzwGVSsMDIAi+gB2M8Zg==